<a href="https://colab.research.google.com/github/deivisongithub/Aprendizado-de-Maquina/blob/main/Miniprojeto_ML_data_processing_Deivison_Jansen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Projeto 1 - Aprendizagem de Máquina

###Grupo: 
**Nome:** Deivison Rodrigues Jordão **Matricula:** 20200023728

**Nome:** Jansen Cruz de Souza **Matricula:** 20200139170

### **Mini-Projeto: Reconhecimento de Dígitos** </font>

 **Descrição:** Neste notebook realizamos o redimencionamento dos dados fornecidos, gerando os arquivos train_redu.csv e test_redu.csv </font>

###Importações

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import csv
import pandas as pd
from google.colab import output
from tqdm import tqdm

###Dataset Inicial
Deve ser criado uma pasta chamada data, onde nela terá que ser feito o upload dos arquivos train.csv e test.csv

In [ ]:
#Lendo arquivos csv do treino e do test
train = pd.read_csv("data/train.csv",sep=",")
test = pd.read_csv("data/test.csv",sep=",")

#Removendo coluna sem utilidade
train = train.drop(columns="Unnamed: 0")
test = test.drop(columns="Unnamed: 0")

In [ ]:
#Guardando os labels
label_train = train['label']
label_test = test['label']

In [ ]:
print('SHAPE: ',train.shape)
train.head()

SHAPE:  (27773, 785)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
print('SHAPE: ',test.shape)
test.head()

SHAPE:  (14227, 785)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Retirando os labels para processamento dos dados
train = np.array(train.drop(columns="label"))
test = np.array(test.drop(columns="label"))

###pré-processamento e dataset definitivo

Para reduzir a dimensão das amostras vamos utilizar os conceitos de **intensidade** e **Simetria**

In [ ]:
#Cálculo da intensidade de cada número
def get_intensity(data):
  intensity = []
  for i in tqdm(range(data.shape[0])):
    intensity.append(np.sum(data[i])/255)
  return intensity

In [ ]:
#Cálculo da simetria vertical de cada número
def get_vertical_symmetry(data):
  symmetry = []
  for line in tqdm(range(data.shape[0])):
    matrix = data[line].reshape(28,28)
    line_image = 0
    for i in range(28):
      for j in range(14):
        line_image += np.sum(abs(matrix[i][j] - matrix[i][27 - j]))
    line_dataset = line_image / 255
    symmetry.append(line_dataset)
  return symmetry

In [ ]:
#Cálculo da simetria horizontal de cada número
def get_horizontal_symmetry(data):
  symmetry = []
  for line in tqdm(range(data.shape[0])):
    matrix = data[line].reshape(28,28)
    line_image = 0
    for i in range(14):
      for j in range(28):
        line_image += np.sum(abs(matrix[i][j] - matrix[j][27 - i]))
    line_dataset = line_image / 255
    symmetry.append(line_dataset)
  return symmetry

In [ ]:
#Reduzindo a dimensão dados de treino e teste

#Treino
intensity_train = get_intensity(train)
symmetry_v_train = get_vertical_symmetry(train)
#symmetry_h_train = get_horizontal_symmetry(train)


#Teste
intensity_test = get_intensity(test)
symmetry_v_test = get_vertical_symmetry(test)
#symmetry_h_test = get_horizontal_symmetry(test)

#Criando os novos Dataset com dimensões reduzidas

#Treino
new_train = pd.DataFrame(label_train)
new_train['intensity'] = intensity_train
new_train['symmetry'] = symmetry_v_train

#Teste
new_test = pd.DataFrame(label_test)
new_test['intensity'] = intensity_test
new_test['symmetry'] = symmetry_v_test

In [ ]:
new_train.head()

In [ ]:
new_test.head()

In [ ]:
#Salvando arquivos dos Datasets reduzidos
new_train.to_csv('train_redu.csv',index=False)
new_test.to_csv('test_redu.csv',index=False)